html, body {
    height: 100%;
}
body {
    font-family: Calibri, Arial;
    background-color: #f0f8ff;
    padding: 3px;
}

/*


div {
    border: 1px dashed fuchsia;
}
*/

#outermostDiv {
    width: 90%;
    height: 99%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #87cefa;
}

/*
*
* ShoppingList chooser (left navigation panel)
*
*/

#leftNav {
    width: 15%;
    height: 100%;
    position: relative;
    float: left;
    overflow: hidden;
}

#shoppingListChooserDiv {
    height: 100%;
    max-height: 300px;
    position: relative;
    overflow: auto;
}

#mainWindow {
    margin-left: auto;
    width: 85%;
    height: 100%;
    position: relative;
    /*border: 1px solid #0000ff;*/
}

#shoppingListChooserDiv input {
    padding: 5px;
    float: left;
}

.listChoiceHighlighted {
    border: 1px dashed #e0ffff;
    background-color: #90ee90;
}

/*
*
* Top panel of editor.
*
*/

#statusMessageLabel {
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1%;
    /*display: inline;*/
}

#shoppingListTitleLabel {
    margin-right: auto;
    margin-left: auto;
    min-width: 100px;
    padding: 5px;
}

.shoppingListTitleLabelEm {
    font-style: italic;
    color: #778899;
}

#actionButtons input {
    padding: 3px;
}

#addItemLabel {
    display: inline;
    font-style: italic;
    color: #778899;
    padding: 3px;
}

.addItemEditing {
    width: 30%;
}

/*
*
* Items editor. 
*
*/

#editorAreaDiv {
    width: 99%;
    min-height: 160px;
    padding: 1px;
    overflow: auto;
    height: 85%;
    border: 1px #dcdcdc solid;
}

.listEditorTable {
    font-family: Calibri, Arial;
}

.editorItemRow {
    border: 1px silver solid;
}

.editorItemRowOdd {
    background-color: #f0f8ff;
}

.editorItemRowEven {
    background-color: #fffff0;
}

.editorItemChecked {
    padding: 3px;
    min-width: 15px;
}

.editorItemName {
    padding: 5px;
    min-width: 30px;
    width: 90%;
    font-size: larger;
}

.editorItemLabels {
    padding: 3px;
    width: 15%;
    white-space: nowrap;
}

.editorItemRemove {
    padding: 5px;
    min-width: 15px;
}

.editorItemRemoveButton {
    padding: 1px;
}

.editorItemEditing {
    min-width: 80%;
}