{% extends "base/base_with_jquery.html" %}
{% block end_of_head0 %}
    <link rel="stylesheet" href="{{ STATIC_DOC_ROOT }}/lib/css/jquery/jscrollpane/jquery.jscrollpane.css"/>
    <script type="application/javascript"
        src="{{ STATIC_DOC_ROOT }}/lib/js/jquery/jscrollpane/jquery.mousewheel.js"></script>
    <script type="application/javascript"
        src="{{ STATIC_DOC_ROOT }}/lib/js/jquery/jscrollpane/mwheelIntent.js"></script>
    <script type="application/javascript"
        src="{{ STATIC_DOC_ROOT }}/lib/js/jquery/jscrollpane/jquery.jscrollpane.js"></script>
{% endblock %}

